h1 { font-family: Arial, Helvetica, sans-serif; text-align: center }
h2 { font-family: Arial, Helvetica, sans-serif }
h3 { font-family: Arial, Helvetica, sans-serif }
h4 { font-family: Arial, Helvetica, sans-serif }
caption { font-size: large; font-weight: bold }
form { padding: 0px; margin: 0px }
th { text-align: right; vertical-align: baseline; background-color: #99CCCC }
.navigation { padding-bottom: 2px }
.main { border-top: 2px solid gray; border-bottom: 2px solid gray }
.comment { color: gray; font-style: italic }
