h1 { font-family: Arial, Helvetica, sans-serif; text-align: center; color: #007FB2 }
h2 { font-family: Arial, Helvetica, sans-serif; color: #007FB2 }
h3 { font-family: Arial, Helvetica, sans-serif; color: #007FB2 }
h4 { font-family: Arial, Helvetica, sans-serif; color: #007FB2 }
.heading { font-family: Arial, Helvetica, sans-serif; color: #007FB2 }
caption { font-size: large; font-weight: bold }
form { padding: 0px; margin: 0px }
th { text-align: right; vertical-align: baseline; background-color: #99CCCC }
.navigation { padding-bottom: 2px }
.main { border-top: 2px solid #007FB2; border-bottom: 2px solid #007FB2 }
.comment { color: gray; font-style: italic }
.figure { text-align: center; padding: 1em }
